<nav class="navbar navbar-dark bg-primary">
  <%= link_to 'TestGuru Admin Panel', root_path, class: 'navbar-brand mb-0 h1' %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <b><%= current_user.full_name %></b> Guru |
      <%= link_to 'Quit', destroy_user_session_path, method: :delete %>
    <% end %>
  </span>
</nav>