<div class="container text-left">
  <hr>
  <p><%= current_year %></p>
  <p>Roman</p>
  <p><%= link_to 'GitHub', github_url('romka69', 'TestGuru'), target: '_blank' %></p>
  <p>Basic Ruby on Rails project</p>
  <p>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica','http://thinknetica.com', target: '_blank' %>
  </p>
</div>
